<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
   <title>  Contact List</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      
    <link rel="stylesheet" href="style/style.css">

      <!--////////Add from  google///////////////////////////////-->
     <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
      <!-- Optional theme -->
        
   
</head>

<body ng-app="firstApplication">
      <div  ng-controller="openListController" layout="column" >
        <div>
        <form action="/" class="container"  name="myForm">
          <h2> User Login </h2> <br>
         
          <label> Email </label> <br>
          <input type="email"  ng-model="data.Email" name="Email" size="60" required> 
           <span ng-show="myForm.email.$error.required" style="color:red"> * </span> <br> <br>

          <label> Password </label> <br>
          <input type="password"  ng-model="data.Password" id="Password" name="Password" size="60" 
            required> 
           <span ng-show="myForm.password.$error.required" style="color:red"> * </span> <br> <br>

          

          <input type="button" ng-href="{{templateurl}}" ng-click="loginUser(data)" id="btn" class="btn btn-primary" value="Login">

         </from>

      </div>
            
   </div> 
             
          
    
                    
                <!-- External Libs Scripts -->        
                <script src="lib/angular.min.js"></script>
                
                
            <!-- Application Scripts -->
            <script src="register.js"></script>

            <script src="common.services.js"></script>
            <script src="dalService.js"></script>

   </body>
</html>